@model _DbEntities.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Parolanızı mı unuttunuz ?";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parolanızı mı unuttunuz ?</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()


        <br />
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-md-offset-4">
                    @if (ViewBag.result == true)
                    {
                        <div class="alert alert-success">
                            <strong>Gönderim Başarılı!</strong>  Maillerinizi adresinizi kontrol ediniz.
                        </div>

                    }
                    @if (ViewBag.result == false)
                    {
                        <div class="alert alert-danger">
                            <strong>Gönderim Başarısız!</strong>  E-posta adresinizi kontrol ediniz.
                        </div>
                    }
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">
                                    Parolanızı mı unuttunuz?
                                </h2>
                                <p>
                                    Şifrenizi buradan sıfırlayabilirsiniz.
                                </p>


                                <div class="panel-body">



                                    <div class="form-group">

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Sisteme Kayıtlı E-Posta Adresinizi Giriniz" })
                                        </div>
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Gönder" />

                                    </div>
                                    <div class="form-group">
                                        <a href="~/WorkFlow/Account/Login" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-log-in"></span> Giriş Yap</a>

                                    </div>
                                    


                                    <input type="hidden" class="hide" name="token" id="token" value="">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>





